.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.search-bar input{
  width: 500px;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  padding-left: 25px;
}
.update{
  width: 70px;
  height: 35px;
  background-color: rgb(20, 20, 197);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  margin-left: -3px;
  border-radius: 0px 5px 5px 0px;
}
.add{
  background-color: red;
  width: 70px;
  height: 35px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  margin-left: -3px;
  border-radius: 0px 5px 5px 0px;
}
.filter{
  display:flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 20px;

}
.active{
  font-weight: bold;
}
